body{
    background-color: rgb(209, 209, 209);
    font-family: cursive;
}

.container {
    margin-top: 5%;
    background-color: #32404dc9;
}


.col-4{
color: #fff;
font-size: 10px;
background-color: #2f3e4d;
}

.col-8{
    background-color: #f5f8fd;
}


.divContacto{
    text-align: -webkit-center;
}

li{
    list-style: none;
    font-size: 18px;
    padding: 15px;
}

h2{
    padding: 15px;
}

.msj-send {
    width: 100%;
    bottom: 10px;
    position: absolute;
}

textarea{
    color: rgb(96, 97, 97);
    width: 90%;
}

a {
    cursor: pointer;
}

.fa, .fas {
    font-size: 25px;
    font-weight: 900;
}

div.bolita {
    text-align: -webkit-center;
    width: 30px;
    color: #fff;
    height: 30px;
    background: radial-gradient(at top left, #bd6277 20%, #d9184e);
    -ms-border-radius: 150px;
    -moz-border-radius: 150px;
    -o-border-radius: 150px;
    border-radius: 50%;
    vertical-align: middle;
    display: table-cell;
}

div.bolita p{
margin: 0px;
text-align: center;
}